window {
    font-family: "SF Pro Display", "SF Mono", sans-serif;
    font-size: 22px;
    background-color: rgba(30, 30, 30, 0.95);
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: 0;
}

#entry {
    padding: 8px 12px;
    border-radius: 12px;
    margin: 5px 0;
    background-color: transparent;
    color: white;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.1);
}

#input {
    padding: 10px;
    font-size: 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    margin-bottom: 8px;
}

#img {
  margin-right: 6px;
}

