/* colors.css is matugen generated file  */
@import "colors.css";


* {
    font-family: "JetBrainsMono Nerd Font", "SF Pro Display","sans-serif";
    font-size: 16px;   
    color: @on_error_container;
    font-weight: bold;
    background: transparent;
}


#pulseaudio,
#network,
#power-profiles-daemon,
#battery,
#clock,
#language {
    padding-left: 10px;
    padding-right: 10px;
}

tooltip {
    background-color: #333333;;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @inverse_on_surface;
}


#workspaces button.active {
    box-shadow: inset 0 -3px @inverse_on_surface;
}


#workspaces button {
    background-color: transparent;
}


#workspaces button.focused {
    background-color: #64727D;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}


#battery.charging, #battery.plugged {
    color: @on_primary;
}


@keyframes blink {
    to {
        background-color: #ffffff;
    }
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {    
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    color: @on_error;
}

#network.disconnected {
    color: red;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#custom-power {
    color: @on_tertiary_container;
}


#network.disconnected,
#mpd.disconnected {
    background-color: @error;
    color: @on_error;
}

