/* colors.css is matugen generated file  */
@import "colors.css";

* {
    font-family: "SF Pro Display","JetBrainsMono Nerd Font", "sans-serif";
    font-size: 16px;   
  /*  background-color: @background;*/
    color: @on_error_container;
    font-weight: bold;
}



window#waybar {
    background-color: transparent;
   /* background-color: @background;*/
    color: @on_error_container;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @inverse_on_surface;
}

#workspaces button.active {
  box-shadow: inset 0 -3px @inverse_on_surface;
}

#workspaces button {
    background-color: transparent;
}


#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-power,
#language,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    font-family: "SF Mono", "SF Pro Display","JetBrainsMono Nerd Font", "sans-serif";
    padding: 0 10px;
    background-color: transparent;
    color: @on_error_container;
    border-radius: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    color: @on_primary;
    /* background-color: @primary; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {    
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 13px;
}

#power-profiles-daemon.performance {
   /* border-bottom: 3px solid @error;*/
    color: @on_error;
}

#power-profiles-daemon.balanced {
   /* border-bottom: 3px solid #2980b9;*/
}

#power-profiles-daemon.power-saver {
   /* border-bottom: 3px solid #2ecc71; */
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
}

#wireplumber {
    background-color: #fff0f5;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    min-width: 20px;
    border-radius: 8px;
}


#custom-power {
  min-width: 25px;
  color: @on_tertiary_container;
  border-radius: 8px;
}

#network:hover,
#custom-power:hover,
#clock:hover,
#pulseaudio:hover {
    background-color: @surface_variant;
}

#network.disconnected,
#pulseaudio.muted,
#mpd.disconnected {
    background-color: @error;
    color: @on_error;
}

